// FONTS
$headerFont: 'PT Sans Narrow', serif;
$headingsFont: "Spectral SC", serif;
$generalFont: "Spectral", sans-serif;

// COLOURS
$mainAccentColor: mediumseagreen;
$bookBtnHover: mintcream;
$tableBackground: rgba(0, 0, 0, 0.638);
$tableAccentBackground: rgba(255, 255, 255, 0.388);