.reservation-section {
  padding: 2rem;
  border: 2rem solid $mainAccentColor;

  .form-wrapper {
    padding: 1rem;
  }

  h2 {
    background-color: $mainAccentColor;
    color: white;
    text-align: center;
    margin-bottom: 5rem;
  }

  .input-wrapper {
    text-align: right;

    input {
      width: 50%;
      margin-left: 0.5rem;
      border-style: none;
      border-bottom: 1px solid $mainAccentColor;
    }
  }

  .submit-wrapper {
    margin-top: 3rem;
    text-align: center;

    input {
      border-style: none;
      padding: 0.5rem 3rem;
      border-radius: 20px;
      box-shadow: 0px 2px 3px $mainAccentColor;
      font-size: 1.1rem;
    }

    input:hover {
      background-color: $bookBtnHover;
    }
  }

  @media only screen and (min-width: 900px) {

    #reservation-form {
      margin: 0 auto;
      max-width: 25rem;
    }
    .form-wrapper {
      label {
        padding-right: 0.3rem;
      }

      .input-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        input {
          width: 100%;
        }
      }
    }
  }
}